.navbar-main-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.navbar-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
