footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #97ff9b;
}

.copyright {
  margin-top: 10px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .social-icons {
    margin-top: 20px;
  }

  .social-icons a {
    font-size: 18px;
  }

  .copyright {
    font-size: 12px;
  }
}
